name: Copaster.Cli NuGet Publish
on:
  push:
    paths:
      - 'cli/**'
      - '.github/workflows/cli-nuget.yml'
  workflow_dispatch:

jobs:
  publish:
    name: Pack & Publish nuget
    runs-on: ubuntu-latest
    steps:
      - uses: astorDev/versy/calver/nuget@main
        with:
          project: cli/Copaster.Cli
          nuget-api-key: ${{ secrets.NUGET_API_KEY }}